//Inicio das incluçoes
    #include <behaviors.dtsi>
    #include <dt-bindings/zmk/bt.h>
    #include <dt-bindings/zmk/ext_power.h>
    #include <dt-bindings/zmk/keys.h>
    #include <dt-bindings/zmk/rgb.h>
//Fim das incluçoes



//Inicio das definiçoes
    #define BASE 0
    #define ESQUERDA 1
    #define DIREITA 2
    #define AMBAS 3
//Fim das definiçoes



/ {
    // Ative a camada 'AMBAS' pressionando DIREITA e ESQUERDA
        conditional_layers {
            compatible = "zmk,conditional-layers";

            AMBAS_layer {
                if-layers = <ESQUERDA  DIREITA>;
                then-layer = <AMBAS>;
            };
        };
    //Fim


    //Inicio  Combos
        combos {
            compatible = "zmk,combos";
            Backspace {
                bindings = <&kp BACKSPACE>;
                key-positions = <52 53>;
            };
        };
    //Fim


    keymap {
        compatible = "zmk,keymap";



        // Inicio do Layout BASE
                default_layer {
                    display-name = "BASE";

                        // ┌───────┬─────┬─────┬─────┬─────┬─────┐                              ┌─────┬─────┬────┬─────┬─────┬─────┐
                        // │ ESC   │  1  |  2  |  3  |  4  |  5  |                              │  6  │  7  |  8 |  9  |  0  |PG UP|
                        // ├───────┼─────┼─────┼─────┼─────┼─────┤                              ├─────┼─────┼────┼─────┼─────┼─────┤
                        // │ TAB   |  Q  |  W  |  E  |  R  |  T  |                              │  Y  |  U  |  I |  O  |  P  |PG DN|
                        // ├───────┼─────┼─────┼─────┼─────┼─────┤                              ├─────┼─────┼────┼─────┼─────┼─────┤
                        // │ SHIFT |  A  |  S  |  D  |  F  |  G  |                              │  H  |  J  |  K |  L  | ; : |' "" |
                        // ├───────┼─────┼─────┼─────┼─────┼─────┤                              ├─────┼─────┼────┼─────┼─────┼─────┤
                        // │ CTRL  |  Z  |  X  |  C  |  V  |  B  |                              │  N  |  M  | , <| . > | / ? |SHIFT|
                        // └───────┼─────|─────|─────|─────|─────|                              ├─────┼─────|────|─────|─────|─────┘
                        //         | WIN |     | ALT |ESQRD|SPAÇO|                              │SPAÇO|DIRTA|CTRL| ALT | WIN |
                        //         └─────┴─────┴─────┴─────┴─────┘                              └─────┴─────┴────┴─────┴─────┘

                    bindings = <
                        &kp ESC    &kp N1    &kp N2    &kp N3    &kp N4        &kp N5          &kp N6     &kp N7       &kp N8     &kp N9    &kp N0    &kp PG_UP
                        &kp TAB    &kp Q     &kp W     &kp E     &kp R         &kp T           &kp Y      &kp U        &kp I      &kp O     &kp P     &kp PG_DN
                        &kp LSHFT  &kp A     &kp S     &kp D     &kp F         &kp G           &kp H      &kp J        &kp K      &kp L     &kp SEMI  &kp SQT
                        &kp LCTRL  &kp Z     &kp X     &kp C     &kp V         &kp B           &kp N      &kp M        &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT
                                   &kp LGUI  &none     &kp LALT  &mo ESQUERDA  &kp SPACE       &kp SPACE  &mo DIREITA  &kp RCTRL  &kp RALT  &kp RGUI
                    >;
                };
        // Fim do Layout BASE



        // Inicio do Layout ESQUERDA
                ESQUERDA_layer {
                    display-name = "ESQUERDA";

                        // ┌───────┬─────┬────┬─────┬─────┬─────┐               ┌───────┬─────┬────┬─────┬─────┬─────┐
                        // │   ~   │     | F2 | F3  | F4  | F5  |               │       │     |    |     |     |     |
                        // ├───────┼─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼────┼─────┼─────┼─────┤
                        // │ CAPS  |     |    |     |     |  ↲  |               │       |     |    |     |     |     |
                        // ├───────┼─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼────┼─────┼─────┼─────┤
                        // │ SHIFT |     |    |     |  {  |  }  |               │       |     |    |     |     |     |
                        // ├───────┼─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼────┼─────┼─────┼─────┤
                        // │ CTRL  |     |    |     |  [  |  ]  |               │       |     |    |     |     |     |
                        // └───────┼─────|────|─────|─────|─────|               ├───────┼─────|────|─────|─────|─────┘
                        //         |     |    |     |     |     |               │       |     |    |     |     |
                        //         └─────┴────┴─────┴─────┴─────┘               └───────┴─────┴────┴─────┴─────┘

                    bindings = <
                        &kp TILDE2 &none  &kp F2 &kp F3 &kp F4    &kp F5       &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11
                        &kp CLCK   &none  &none  &none  &none     &kp RET      &none  &none  &none  &none  &none   &kp F12
                        &kp LSHFT  &none  &none  &none  &kp LBRC  &kp RBRC     &none  &none  &none  &none  &none   &none
                        &kp LCTRL  &none  &none  &none  &kp LBKT  &kp RBKT     &none  &none  &none  &none  &none   &none
                                   &none  &none  &none  &none     &none        &none  &none  &none  &none  &none
                    >;
                };
        // Fim do Layout ESQUERDA



        // Inicio do Layout DIREITA
                DIREITA_layer {
                    display-name = "DIREITA";

                        // ┌───────┬─────┬────┬─────┬─────┬─────┐               ┌───────┬─────┬─────┬─────┬─────┬─────┐
                        // │       │     |    |     |     |     |               │BT CLR │ BT1 | BT2 | BT3 | BT4 | = + |
                        // ├───────┼─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼─────┼─────┼─────┼─────┤
                        // │       |     |    |     |     |     |               │ PG UP |  ←  |  ▲  | DEL |     |  -  |
                        // ├───────┼─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼─────┼─────┼─────┼─────┤
                        // │       |     |    |     |     |     |               │ PG DN |  ◄  |  ▼  |  ►  |     |     |
                        // ├───────┼─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼─────┼─────┼─────┼─────┤
                        // │       |     |    |     |     |     |               │       |     |     |     |     |     |
                        // └───────┼─────|────|─────|─────|─────|               ├───────┼─────|─────|─────|─────|─────┘
                        //         |     |    |     |     |     |               │       |     |     |     |     |
                        //         └─────┴────┴─────┴─────┴─────┘               └───────┴─────┴─────┴─────┴─────┘

                    bindings = <
                        &none   &none   &none   &none   &none   &none         &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3 &kp EQUAL
                        &none   &none   &none   &none   &none   &none         &kp PG_UP   &kp BSPC      &kp UP        &kp DEL       &none        &kp MINUS
                        &none   &none   &none   &none   &none   &none         &kp PG_DN   &kp LEFT      &kp DOWN      &kp RIGHT     &none        &none
                        &none   &none   &none   &none   &none   &none         &none       &none         &none         &none         &none        &none
                                &none   &none   &none   &none   &none         &none       &none         &none         &none         &none
                     >;
                };
        // Fim do Layout DIREITA


    // Inicio do Layout AMBAS (NÃO ESTA FUNCIONANDO)
            AMBAS_layer {
                // --------------------------------------------------------------
                // |   |   |   |   |   |   |           |   |   |   |   |   |    |
                // |   |   |   |   |   |   |           |   |   |   |   |   |    |
                // |   |   |   |   |   |   |           |   |   |   |   |   |    |
                // |   |   |   |   |   |   |           |   |   |   |   |   |    |
                // |   |   |   |   |   |   |           |   |   |   |   |   |    |
                // --------------------------------------------------------------

                display-name = "AMBAS";
                bindings = <
        &none  &none  &none  &none  &none  &none      &none  &none  &none  &none  &none  &none
        &none  &none  &none  &none  &none  &none      &none  &none  &none  &none  &none  &none
        &none  &none  &none  &none  &none  &none      &none  &none  &none  &none  &none  &none
        &none  &none  &none  &none  &none  &none      &none  &none  &none  &none  &none  &none
               &none  &none  &none  &none  &none      &none  &none  &none  &none  &none
                >;
            };
    // Inicio do Layout AMBAS
    };
};
