//Inicio das incluçoes

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>

//Fim das incluçoes
//Inicio das definiçoes de configurações
//MOUSE

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000  // padrão: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // padrão: 10

//Fim das definiçoes de configurações
//Inicio das definiçoes das camadas

#define BASE 0
#define ESQUERDA 1
#define ESQUERDA_MOUSE 2
#define DIREITA 3
#define DIREITA_Num 4
#define AMBAS 5

//Fim das definiçoes das camadas
//Inicio dos comportamentos de teclas
//MT = MOD-TAP, se eu tocar o SHIFT pelo tempo menor que delimitei, ele vira o caps_word, caso eu continue pressionando o shift, ele se mantem como shift 

quick-tap-ms = <100>;};

//SK = 

&sk {
    release-after-ms = <2000>;
    quick-release;
};

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <250>;
    require-prior-idle-ms = <125>;
};

//Fim dos comportamentos de teclas

/ {
    // Ative a camada 'AMBAS' pressionando DIREITA e ESQUERDA

    conditional_layers {
        compatible = "zmk,conditional-layers";

        AMBAS_layer {
            if-layers = <ESQUERDA  DIREITA>;
            then-layer = <AMBAS>;
        };
    };

    //Fim
    //Inicio  Combos

    combos {
        compatible = "zmk,combos";

        Backspace-Dir {
            timeout-ms = <30>;
            bindings = <&kp BACKSPACE>;
            key-positions = <22 21>;
        };

        CapsLock {
            timeout-ms = <30>;
            key-positions = <25 13>;
            bindings = <&kp CAPSLOCK>;
        };

        Sen1 {
            bindings = <&Sen1>;
            key-positions = <16 15 29>;
            layers = <1>;
        };

        Enter-Dir {
            bindings = <&kp ENTER>;
            key-positions = <18 19>;
            layers = <3>;
        };

        Desfazazer {
            bindings = <&kp LC(Z)>;
            key-positions = <37 38>;
            layers = <1>;
        };

        Refazer {
            bindings = <&kp LC(Y)>;
            key-positions = <38 37 39>;
            layers = <1>;
        };

        Copiar {
            bindings = <&kp LC(C)>;
            key-positions = <38 39>;
            layers = <1>;
        };

        Colar {
            bindings = <&kp LC(V)>;
            key-positions = <40 39>;
            layers = <1>;
        };

        Recortar {
            bindings = <&kp LC(X)>;
            key-positions = <38 39 40>;
        };

        Selecionar_Tudo {
            bindings = <&kp LC(A)>;
            key-positions = <37 25>;
            layers = <1>;
        };

        Esc {
            bindings = <&kp ESC>;
            key-positions = <25 26>;
            layers = <1>;
        };

        Delete-Dir {
            bindings = <&kp DELETE>;
            key-positions = <22 21 20>;
            layers = <3>;
        };

        Delete-Esq {
            bindings = <&kp DELETE>;
            key-positions = <13 14 15>;
            layers = <1>;
        };

        Backspace-Esq {
            bindings = <&kp BACKSPACE>;
            key-positions = <13 14>;
        };

        Enter-Esq {
            bindings = <&kp ENTER>;
            key-positions = <17 16>;
            layers = <1>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <41 40>;
        };
    };

    //Fim
    //Inicio  dos comportamentos
    /*
        *       behaviors {
        *           hm: homerow_mods {
        *               compatible = "zmk,behavior-hold-tap";
        *               label = "HOMEROW_MODS";
        *               #binding-cells = <2>;
        *               tapping-term-ms = <200>;
        *               quick_tap_ms = <0>;
        *               flavor = "tap-preferred";
        *               bindings = <&kp>, <&kp>;
        *           };
        *           hs: homerow_shifts {
        *               compatible = "zmk,behavior-hold-tap";
        *               label = "HOMEROW_SHIFTS";
        *               #binding-cells = <2>;
        *               tapping-term-ms = <150>;
        *               quick_tap_ms = <0>;
        *               flavor = "balanced";
        *               bindings = <&kp>, <&kp>;
        *           };
        *       };
        *    //Fim
        */
    //Fim

    macros {
        Sen1: Sen1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp AT &kp LS(K) &kp O &kp LS(D) &kp A &kp UNDER &kp LS(M) &kp A &kp S &kp LS(T) &kp E &kp R &kp EXCL &kp N6 &kp N4 &kp N2 &kp N8 &kp N9 &kp N0>;

            label = "SEN1";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Inicio do Layout BASE

        default_layer {
            display-name = "BASE";

            // ┌───────┬─────┬─────┬─────┬─────┬─────┐                                        ┌─────┬─────┬────┬─────┬─────┬─────┐
            // │ ESC   │  1  |  2  |  3  |  4  |  5  |                                        │  6  │  7  |  8 |  9  |  0  |PG UP|
            // ├───────┼─────┼─────┼─────┼─────┼─────┤                                        ├─────┼─────┼────┼─────┼─────┼─────┤
            // │ TAB   |  Q  |  W  |  E  |  R  |  T  |                                        │  Y  |  U  |  I |  O  |  P  |PG DN|
            // ├───────┼─────┼─────┼─────┼─────┼─────┤                                        ├─────┼─────┼────┼─────┼─────┼─────┤
            // │ SHIFT |  A  |  S  |  D  |  F  |  G  |                                        │  H  |  J  |  K |  L  | ; : |' "" |
            // ├───────┼─────┼─────┼─────┼─────┼─────┤                                        ├─────┼─────┼────┼─────┼─────┼─────┤
            // │ CTRL  |  Z  |  X  |  C  |  V  |  B  |                                        │  N  |  M  | , <| . > | / ? |SHIFT|
            // └───────┼─────┼─────┼─────┼─────┼─────┤                                        ├─────┼─────┼────┼─────┼─────┼─────┘
            //         | WIN |MOUSE| ALT |ESQRD|SPAÇO|                                        │SPAÇO|DIRTA|CTRL| ALT |DTNUM|
            //         └─────┴─────┴─────┴─────┴─────┘                                        └─────┴─────┴────┴─────┴─────┘

            bindings = <
&none  &kp N1          &kp N2          &kp N3              &kp N4               &kp N5                                                 &kp N6       &kp N7             &kp N8               &kp N9            &kp N0              &kp PG_UP
&none  &kp Q           &kp W           &kp E               &kp R                &kp T                                                  &kp Y        &kp U              &kp I                &kp O             &kp P               &kp PG_DN
&none  &mt LEFT_GUI A  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LEFT_SHIFT F     &kp G                                                  &kp H        &mt RIGHT_SHIFT J  &mt RIGHT_CONTROL K  &mt RIGHT_ALT L   &mt RIGHT_GUI SEMI  &kp SQT
&none  &kp Z           &kp X           &kp C               &kp V                &kp B                                                  &kp N        &kp M              &kp COMMA            &kp DOT           &kp FSLH            &none
                                       &none               &tog ESQUERDA_MOUSE  &kp LALT  &mo ESQUERDA  &mt LEFT_ALT SPACE  &kp SPACE  &mo DIREITA  &none              &none                &tog DIREITA_Num
            >;
        };

        // Fim do Layout BASE
        // Inicio do Layout ESQUERDA

        ESQUERDA_layer {
            display-name = "ESQUERDA";

            // ┌───────┬─────┬────┬─────┬─────┬─────┐                                   ┌───────┬─────┬────┬─────┬─────┬─────┐
            // │       │     | F2 | F3  | F4  | F5  |                                   │       │     |    |     |     |     |
            // ├───────┼─────┼────┼─────┼─────┼─────┤                                   ├───────┼─────┼────┼─────┼─────┼─────┤
            // │ CAPS  | ►⫼  |    | ◄)) |     |  ↲  |                                   │       |     |    |     |     |     |
            // ├───────┼─────┼────┼─────┼─────┼─────┤                                   ├───────┼─────┼────┼─────┼─────┼─────┤
            // │ SHIFT |  «  |  » | ◄)  |  {  |  }  |                                   │       |     |    |     |     |     |
            // ├───────┼─────┼────┼─────┼─────┼─────┤                                   ├───────┼─────┼────┼─────┼─────┼─────┤
            // │ CTRL  |  «« | »» | ◄x  |  [  |  ]  |                                   │       |     |    |     |     |     |
            // └───────┼─────┼────┼─────┼─────┼─────┤                                   ├───────┼─────┼────┼─────┼─────┼─────┘
            //         |     |    |     |     |     |                                   │       |     |    |     |     |
            //         └─────┴────┴─────┴─────┴─────┘                                   └───────┴─────┴────┴─────┴─────┘

            bindings = <
&none  &none     &kp F2      &kp F3        &kp F4    &kp F5                         &none  &none  &none  &none  &none  &none
&none  &none     &none       &kp C_VOL_UP  &none     &none                          &none  &none  &none  &none  &none  &none
&none  &none     &kp C_NEXT  &kp C_VOL_DN  &kp LBRC  &kp RBRC                       &none  &none  &none  &none  &none  &none
&none  &kp C_RW  &kp C_FF    &kp C_MUTE    &kp LBKT  &kp RBKT                       &none  &none  &none  &none  &none  &none
                             &none         &none     &none     &none  &none  &none  &none  &none  &none  &none
            >;
        };

        // Fim do Layout ESQUERDA
        // Inicio do Layout ESQUERDA_MOUSE

        ESQUERDA_MOUSE_layer {
            display-name = "ESQUERDA_MOUSE";

            // ┌───────┬─────┬─────┬─────┬─────┬─────┐                                                          ┌───────┬─────┬────┬─────┬─────┬─────┐
            // │ ESC   │     |     |MEIO |     |     |                                                          │       │     |    |     |     |     |
            // ├───────┼─────┼─────┼─────┼─────┼─────┤                                                          ├───────┼─────┼────┼─────┼─────┼─────┤
            // │ TAB   |     | B4  |  ▲  |  B5 |ROL ▲|                                                          │       |     |    |     |     |     |
            // ├───────┼─────┼─────┼─────┼─────┼─────┤                                                          ├───────┼─────┼────┼─────┼─────┼─────┤
            // │ SHIFT |     |  ◄  |  ▼  |  ►  |ROL ▼|                                                          │       |     |    |     |     |     |
            // ├───────┼─────┼─────┼─────┼─────┼─────┤                                                          ├───────┼─────┼────┼─────┼─────┼─────┤
            // │ CTRL  |     |ROL◄ |ROL ►|     |     |                                                          │       |     |    |     |     |     |
            // └───────┼─────┼─────┼─────┼─────┼─────┤                                                          ├───────┼─────┼────┼─────┼─────┼─────┘
            //         |     |MOUSE| ALT |ESQRD|DIRTA|                                                          │       |     |    |     |     |
            //         └─────┴─────┴─────┴─────┴─────┘                                                          └───────┴─────┴────┴─────┴─────┘

            bindings = <
&kp ESC    &none  &none           &mkp MB3         &none                &none                                      &none  &none  &none  &none  &none  &none
&kp TAB    &none  &mkp MB4        &mmv MOVE_UP     &mkp MB5             &msc SCRL_UP                               &none  &none  &none  &none  &none  &none
&kp LSHFT  &none  &mmv MOVE_LEFT  &mmv MOVE_DOWN   &mmv MOVE_RIGHT      &msc SCRL_DOWN                             &none  &none  &none  &none  &none  &none
&kp LCTRL  &none  &msc SCRL_LEFT  &msc SCRL_RIGHT  &none                &none                                      &none  &none  &none  &none  &none  &none
                                  &none            &tog ESQUERDA_MOUSE  &kp LALT        &mkp MB1  &mkp MB2  &none  &none  &none  &none  &none
            >;
        };

        // Fim do Layout ESQUERDA_MOUSE
        // Inicio do Layout DIREITAL

        DIREITA_layer {
            display-name = "DIREITA";

            // ┌───────┬─────┬────┬─────┬─────┬─────┐               ┌───────┬─────┬─────┬─────┬─────┬─────┐
            // │       │     |    |     |     |     |               │BT CLR │ BT1 | BT2 | BT3 | BT4 | = + |
            // ├───────┼─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼─────┼─────┼─────┼─────┤
            // │       |     |    |     |     |     |               │ PG UP |  ←  |  ▲  | DEL |     |  -  |
            // ├───────┼─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼─────┼─────┼─────┼─────┤
            // │       |     |    |     |     |     |               │ PG DN |  ◄  |  ▼  |  ►  |     |  ~  |
            // ├───────┼─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼─────┼─────┼─────┼─────┤
            // │       |     |    |     |     |     |               │       |     |     |     | \ | |     |
            // └───────┼─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼─────┼─────┼─────┼─────┘
            //         |     |    |     |     |     |               │       |     |     |     |     |
            //         └─────┴────┴─────┴─────┴─────┘               └───────┴─────┴─────┴─────┴─────┘

            bindings = <
&none  &none  &none  &none  &none  &none                       &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &kp EQUAL
&none  &none  &none  &none  &none  &none                       &kp PG_UP   &none         &kp UP        &none         &none         &kp MINUS
&none  &none  &none  &none  &none  &none                       &kp PG_DN   &kp LEFT      &kp DOWN      &kp RIGHT     &none         &kp TILDE
&none  &none  &none  &none  &none  &none                       &none       &none         &none         &none         &kp BSLH      &none
                     &none  &none  &none  &none  &none  &none  &none       &none         &none         &none
            >;
        };

        // Fim do Layout DIREITA
        // Inicio do Layout DIREITA_Numerico

        DIREITA_Num_layer {
            display-name = "DIREITA_Num";

            // ┌───────┬─────┬────┬─────┬─────┬─────┐               ┌───────┬─────┬─────┬─────┬─────┬─────┐
            // │       │     |    |     |     |     |               │   ←   │  7  |  8  |  9  | CLR |  +  |
            // ├───────┼─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼─────┼─────┼─────┼─────┤
            // │       |     |    |     |     |     |               │       |  4  |  5  |  6  |     |  -  |
            // ├───────┼─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼─────┼─────┼─────┼─────┤
            // │       |     |    |     |     |     |               │       |  1  |  2  |  3  |     |  *  |
            // ├───────┼─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼─────┼─────┼─────┼─────┤
            // │       |     |    |     |     |     |               │       |  0  |  ,  |  .  |  =  |  /  |
            // └───────┼─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼─────┼─────┼─────┼─────┘
            //         |     |    |     |     |     |               │       |     |     |     |     |
            //         └─────┴────┴─────┴─────┴─────┘               └───────┴─────┴─────┴─────┴─────┘

            bindings = <
&none  &none  &none  &none  &none  &none                       &kp BSPC  &kp KP_N7  &kp KP_N8     &kp KP_N9         &kp KP_CLEAR  &kp KP_PLUS
&none  &none  &none  &none  &none  &none                       &none     &kp KP_N4  &kp KP_N5     &kp KP_N6         &none         &kp KP_MINUS
&none  &none  &none  &none  &none  &none                       &none     &kp KP_N1  &kp KP_N2     &kp KP_N3         &none         &kp KP_MULTIPLY
&none  &none  &none  &none  &none  &none                       &none     &kp KP_N0  &kp KP_COMMA  &kp KP_DOT        &kp KP_EQUAL  &kp KP_DIVIDE
                     &none  &none  &none  &none  &none  &none  &none     &none      &none         &tog DIREITA_Num
            >;
        };

        // Fim do Layout DIREITA_Numerico
        // Inicio do Layout AMBAS (NÃO ESTA FUNCIONANDO)

        AMBAS_layer {
            display-name = "AMBAS";

            // ┌───────┬─────┬────┬─────┬─────┬─────┐               ┌───────┬─────┬────┬─────┬─────┬─────┐
            // │       │     |    |     |     |     |               │       │     |    |     |     |     |
            // ├───────┼─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼────┼─────┼─────┼─────┤
            // │       |     |    |     |     |     |               │       |     |    |     |     |     |
            // ├───────┼─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼────┼─────┼─────┼─────┤
            // │       |     |    |     |     |     |               │       |     |    |     |     |     |
            // ├───────┼─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼────┼─────┼─────┼─────┤
            // │       |     |    |     |     |     |               │       |     |    |     |     |     |
            // └───────┼─────┼────┼─────┼─────┼─────┤               ├───────┼─────┼────┼─────┼─────┼─────┘
            //         |     |    |     |     |     |               │       |     |    |     |     |
            //         └─────┴────┴─────┴─────┴─────┘               └───────┴─────┴────┴─────┴─────┘

            bindings = <
&none  &none  &none  &none  &none  &none                       &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                       &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                       &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                       &none  &none  &none  &none  &none  &none
                     &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
            >;
        };

        // Fim do Layout AMBAS
    };
};
