# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

config SHIELD_TORUS_LEFT
    def_bool $(shields_list_contains,Torus_left)

config SHIELD_TORUS_RIGHT
    def_bool $(shields_list_contains,Torus_right)
